main{
    min-height: 100vh; /*minimo e altura da janela do dispositivo*/
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

main > div{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form{
    background-color: crimson;
    display: flex; /*ativa o flex*/
    flex-direction: column;
    /*alinha na direção do flex*/
    align-items: center;
    gap: 15px;
    padding: 3%;
}

.formualario-campos{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formulario-botao-azul{
    width: 100%;
}

.formualario-campos{
}

form > p{
    text-transform: uppercase; /*deixa o texto em maiusculo*/
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza);
}

form > a, #secao-cadastro > p > a {
    color: var(--cor-azul);
    font-size: var(--tamanho-fonte-sm);
    text-decoration: none; /*remove a decoração (sublinhado) que vem por padrão no link*/
}

#secao-cadastro > p >{
 color: var(--cor-preto);
 font-size: var(--tamanho-fonte-sm);
}

#secao-cadastro{
    height: 60px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

main > div > p{
    background-color: cadetblue;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.estilo-formulario{
    background-color: var(--cor-cinza);
    border: var(#B57171);
    width: 100;
    max-width: 342px;
}

main>div>p {

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao{
    background-color: chocolate;
    display: felx;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
} 

.formualario-campos > input{
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-rosa);

    color: var(--cor-cinza-escuro);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formualario-campos > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro);
    font-weight: 600; /**/
}